marquee
{
    background-color: black; 
    color: white; 
    padding: 1%; 
    font-size: 150%;
}
.div1
{
    display: flex; 
    justify-content: space-around; 
    margin-top: 10%;
}
.div2
{
    display: flex; 
    justify-content: space-around; 
    font-size: 100%;
}